<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PB Phase2 Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>img {max-width:100%}
    .model-dialog {max-width: 90% !important}
    </style>
    <script type="text/javascript">
      $(document).ready(function () {
            $(".modal-dialog").css({"width":"90%","max-width":"90%"});
      });
      </script>
</head>
<body>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sno</th>
      <th scope="col">Query Question</th>
        <th scope="col">Visualization</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td> Tweet count from different countries</td>
        <td><a href="#" data-toggle="modal" data-target="#myModal"><img src="graphs.PNG"></a>
        </td>
         
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Top tweeted text and its retweet count</td>
      <td><a href="#" data-toggle="modal" data-target="#myModal1"><img src="graphs.PNG"></a></td>
       
    </tr>
   <tr>
      <th scope="row">3</th>
      <td> Tweet count from different countries</td>
      <td><a href="#" data-toggle="modal" data-target="#myModal2"><img src="graphs.PNG"></a></td>
       
    </tr>
  <tr>
      <th scope="row">4</th>
      <td> Users with more no of retweets for his tweet</td>
      <td><a href="#" data-toggle="modal" data-target="#myModal3"><img src="graphs.PNG"></a></td>
       
    </tr>
  <tr>
      <th scope="row">5</th>
      <td> Tweets based on the different league matches</td>
      <td><a href="#" data-toggle="modal" data-target="#myModal4"><img src="graphs.PNG"></a></td>
       
    </tr>
  <tr>
      <th scope="row">6</th>
      <td> User with more no of followers</td>
      <td><a href="#" data-toggle="modal" data-target="#myModal5"><img src="graphs.PNG"></a></td>
       
    </tr>
  <tr>
      <th scope="row">7</th>
      <td> Tweets from different Sources</td>
      <td><a href="#" data-toggle="modal" data-target="#myModal6"><img src="graphs.PNG"></a></td>
       
    </tr>
  <tr>
      <th scope="row">8</th>
      <td> On which Day More Tweets are posted</td>
      <td><a href="#" data-toggle="modal" data-target="#myModal7"><img src="graphs.PNG"></a></td>
       
    </tr>
  <tr>
      <th scope="row">9</th>
      <td> Tweet count based on language</td>
      <td><a href="#" data-toggle="modal" data-target="#myModal8"><img src="graphs.PNG"></a></td>
       
    </tr>
  <tr>
      <th scope="row">10</th>
      <td> Tweet count on hourly bases</td>
      <td><a href="#" data-toggle="modal" data-target="#myModal9"><img src="graphs.PNG"></a></td>
       
    </tr>
  </tbody>
</table>
 <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Tweet count from different countries</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <center><img src="http://localhost:5000/query/1"/></center>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>



 <div class="modal" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Top tweeted text and its retweet count</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <center><img src="http://localhost:5000/query/2"/></center>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>



<div class="modal" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Tweet count from different countries</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <center><img src="http://localhost:5000/query/3"/></center>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


<div class="modal" id="myModal3">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Users with more no of retweets for his tweet</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <center><img src="http://localhost:5000/query/4"/></center>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


<div class="modal" id="myModal4">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Tweets based on the different league matches</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <center><img src="http://localhost:5000/query/5"/></center>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


<div class="modal" id="myModal5">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">User with more no of followers</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <center><img src="http://localhost:5000/query/6"/></center>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


<div class="modal" id="myModal6">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Tweets from different Sources</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <center><img src="http://localhost:5000/query/7"/></center>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


<div class="modal" id="myModal7">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">On which Day More Tweets are posted</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <center><img src="http://localhost:5000/query/8"/></center>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


<div class="modal" id="myModal8">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Tweet count based on language</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <center><img src="http://localhost:5000/query/9"/></center>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


<div class="modal" id="myModal9">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Tweet count on hourly bases</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <center><img src="http://localhost:5000/query/10"/></center>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>



</body>
</html>

